header, footer{
    background-color: #242582;
    color:white;
    font-family:"Merriweather",Georgia, serif;
    font-size:12px;

}


header h1, header h5{
    text-shadow: 3px 3px 3px black;
    padding:0;
    margin-top:2px; 

}
header h1{
    font-size: 1.2em;
    padding:2% 2%;
}
h1,h2,h3,h4,h5{
    font-family:"Merriweather", Georgia, serif;
}
header h2{
    margin:0;   
    text-shadow: 3px 3px 3px #ccc;
    font-size: 14px;
    line-height: 1.15;
}
footer p, footer a{
    font-size:12px;
    line-height:2em;
}
main h2{
    margin-top:25%;
}
.logo{
    float:left;
    max-width: 30px;
    padding:5px

}
nav button{
    margin:.2rem 2%;
    background-color: transparent;
    border:none;
    font-size: 1.6rem;
    color:#fff;
}
nav{
    background-color: #BDD4E7;
    font-family: Verdana, sans-serif;   
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bdd4e7+1,69afe5+100,69afe5+100 */
    background: rgb(189,212,231); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(189,212,231,1) 1%, rgba(105,175,229,1) 100%, rgba(105,175,229,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(189,212,231,1) 1%,rgba(105,175,229,1) 100%,rgba(105,175,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(189,212,231,1) 1%,rgba(105,175,229,1) 100%,rgba(105,175,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdd4e7', endColorstr='#69afe5',GradientType=0 ); /* IE6-9 */    
 }
nav ul{
    list-style-type:none;
    padding:0;
    font-size: .9em;
    border-radius: 5px;
    margin:0;
}
nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgb(0,0,0,0.8);
    border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul li a:hover{
    background-color: rgba(0,0,0,0.4);color:#ffff;

}
nav ul li.active{
    background-color:rgba(201, 159, 196, 1);
               
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  nav ul.hide{
      display:none;

}
.headingTxt{
    font-size: 1.1em;
    padding-bottom:0;
    margin:0;
}
#pancake{
    display:none;
    border:2px solid black;
    background-color: #C99FC4;
    margin-bottom: 10px;
    animation: blink 1s;
    animation-iteration-count: 3;

}
p{
    font-family:"Merriweather"; 

}

footer{
    text-align: center;
    font-size: 14px;
    margin-top:10px;    
    padding:1em;
    
}
footer a{
    color: rgba(189,212,231,1);
}
.logo{
    float:left;
    max-width: 65px;
    padding:5px;        

}
.image_group{
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width:100%;
    grid-gap:30px;
    margin-right:0;
    padding:0;
}
img{
    max-width: 320px;
}

img[data-src]{
    max-width: 100%;
    
}
.imgPic{
    background-color: #73956F;
    padding:0;
    box-shadow:0 5px 8px 0 rgba(0 0 0 /30%);
}
.imgInfo{
    text-align: center;
    color:white;
    padding-top:0;
    margin-bottom:22px;
    max-width: 100%;
    background-color: #73956F;
}
p{
    font-family:"Roboto"; 
    font-size:16px;
    padding-top:50px;
}

main{
    background-color:#EBEBEB;
    max-width: 80%;
    margin:0 auto;
}
body{
    background:#EBEBEB;
        
}   