@media only screen and (min-width: 70rem) {
    nav button{
        display:none;   
    }

header h1, header h5{
    padding:.5em .5em;
    padding-bottom: 0px;
    text-align: left;
}
.headingTxt{
    margin-left:27%;
    font-size:1.4em;
    padding-top:1em

}
.logo{
    max-width: 85px;
    margin-left:27%;
}
    footer p{
        text-align: center;
        font-size: 1.1em;
    }
    nav ul li{
        font-size: 1rem;
        padding:0;
        border-right:1px solid rgba(0,0,0,0.3);   
    }
    footer{
        text-align: center;
    }
    body{
        max-width: 100%;
        padding:0;
        margin:0 auto;

 
    }
    header h5{
        padding-bottom:1em;    
        margin:0;

    } 
  nav ul li a:hover{
    padding-right:12px;
  
}
.main{
    display:grid;
    grid-template-columns: 20% 1fr 1fr 1fr 1fr;
    background-color: #EBEBEB;
}
.main h2{
    grid-column: 2/ span 3;
}
.hero{
    grid-column: 2/ span 4;
    max-width: 60%;
    box-shadow:3px 3px 6px 0 rgb(0 0 0 / 60%);
    border-radius:5px;
    float:left;
    margin-left:9%;

}
.first{
    max-width: 20%;
    background-color: white;
    opacity: .8;
    border:2px solid #ccc;
    border-radius:5px;
    margin: 6em 28% ;
    margin-bottom: 0;
    position:absolute;
    
}
.first h4{
    padding-bottom:.5em;
    padding-left:1em
}
.first p{
    padding-bottom:1em;
}
.fiveDay{
    grid-column: 2/3 ;
    padding:1em 0;
    padding-left:2em;
    text-align: center;
    text-shadow: 3px 3px 3px #ccc;
}
.fiveDayImg{
    grid-column:2/ span 3;
    margin-left:12%;
    margin-right:8%;
}
.fiveDay h4{
    grid-column: 2/3;

}
.forecast1,.forecast2,.forecast3,.forecast4,.forecast5{
    max-width: 130px;
    padding:1em 1.3em;   
    
}
.prestonHeading{
padding-left:12%;
text-shadow: 3px 3px 3px #ccc;

}
.articleTitle{
    grid-column: 2/3;
    text-align:center;
    padding-left:0;
}
.articleP{
    grid-column: 2/ span 2;
    margin-left:18%;
    grid-row:6/7;
    border-left:2px solid black;
    border-bottom:2px solid black;
    border-top:2px solid black;

}
.forecastImg{
    padding:1em;
    border-top:2px solid black;
    border-right:2px solid black;
    border-bottom:2px solid black;
    grid-column: 4/5;
    grid-row:6/7;
}
body{
    background-color: black;
}
}