@media only screen and (min-width: 60rem) {
    nav button{
        display:none;   
    }
    nav ul li a{
    border:none;
    padding:.8em;
    text-align: center;
    }
    nav ul.hide{
    display:flex;
    justify-content: center;
    margin: 2% 2% 0;
    padding:0;
}
header h1, header h5{
    text-align: left;

}
header h1{
    padding:.5em .5em;
    padding-bottom: 5px;
}
    footer p{
        text-align: center;
    }
    nav ul li{
        font-size: 1rem;
        padding:0;
        border-right:1px solid rgba(0,0,0,0.3);   
    }
    nav ul{
        padding:0;
 
    }
    footer{
        text-align: center;
    }
    body{
        max-width: 70%;
        padding:0;
        margin:0 auto;
    }
    .headingTxt{
        text-align:center;
        font-size: 1.4em;
        margin-right:0;
        padding-bottom: 0; 
        margin-top:0;
    }
    .logo{
        max-width: 75px;
        margin-left:20%;
    }
    header h5{
        padding-bottom:1em;    
        margin:0;

    } 
  nav ul li a:hover{
    padding-right:12px;
  
}
.main{
    display:grid;
    grid-template-columns: 20% 1fr 1fr 1fr 1fr;
    background-color: #EBEBEB;
}
.main h2{
    grid-column: 2/ span 3;
}
.hero{
    grid-column: 2/ span 4;
    max-width: 80%;
    box-shadow:3px 3px 6px 0 rgb(0 0 0 / 60%);
    border-radius:5px;
    float:left;
}
.first{
    max-width: 20%;
    background-color: white;
    opacity: .8;
    border:2px solid #ccc;
    border-radius:5px;
    margin: 6em 14em;
    margin-bottom: 0;
    position:absolute;
    
}
.first h4{
    padding-bottom:.5em;
    padding-left:1em
}
.first p{
    padding-bottom:1em;
}
.fiveDay{
    grid-column: 2/3 ;
    margin:0;
    padding:1em 0;
    text-align: left;
    text-shadow: 3px 3px 3px #ccc;
}
.fiveDayImg{
    grid-column:2/ span 4;
    border:2px solid black;
    justify-self: left;
    box-shadow:0px 3px 3px 0 rgb(0 0 0 / 30%);
    background-color: #73956F;
}
.forecast h4{
    grid-column: 2/3;

}
.forecast1,.forecast2,.forecast3,.forecast4,.forecast5{
    max-width: 90px;
    padding:1em 1.3em;   
    
}
.prestonHeading{
padding-left:0;

}
.articleTitle{
    grid-column: 2/3;
    text-align: left;
}
.articleP{
    grid-column: 2/4;
    grid-row:6/7;
    border-left:2px solid black;
    border-bottom:2px solid black;
    border-top:2px solid black;

}
.forecastImg{
    padding:1em;
    border-top:2px solid black;
    border-right:2px solid black;
    border-bottom:2px solid black;
    grid-column: 4/5;
    grid-row:6/7;
}
}