
@media only screen and (min-width:50rem){
footer p{
    text-align: center;
}
nav button{
    display:none;
}
nav ul li a{
    border:none;
    padding:.8em;
    text-align: center;
}
nav ul.hide{
    display:flex;
    justify-content: center;
    margin: 1% 1% 0;
    padding:0;
}    
.logo{
    max-width: 75px;
    margin-left:14%;
    padding-top:1em;
}
body{
    max-width: 100%;
    padding:0;
    background-color: #EBEBEB;
    padding-top:0;
}
.headingTxt{
    font-size: 1.3em; 
    margin:1em;
    margin-right:40%;
}
.headingTxt h1{
    margin-right:15%;
    padding-top:1em;
}
.headingTxt h5{
    margin-right:5%;
    padding-top:0;
}
h4{
    margin: 0;
    padding:0;
}
.hero{
    max-width: 70%;
    border-radius:5px;
    box-shadow:0px 6px 6px 0 rgb(0 0 0 / 40%);
} 
 .weatherSum{
    margin-bottom:0;
    padding-left:1em;
    padding-top:1em;
    text-align: left;
 }
nav ul{
    margin:0;
    padding:0;
    font-size: 1.2em;
}
nav ul li{
    padding:.4rem .5rem;
    font-size:.8rem;
    border-right:1px solid rgba(0,0,0,0.3);   
}
main{
    background-color: #EBEBEB;

}
.prestonHeading{
    text-shadow: 3px 3px 3px #ccc;
}
.forecast1,.forecast2,.forecast3,.forecast4,.forecast5{
    max-width: 150px;
    padding:1em 1.3em;  
    }
.fiveDay{
    text-shadow: 3px 3px 3px #ccc;
    text-align: left;
    margin-left:1em;
}
.fiveDayImg{
    border:2px solid black;
    margin:0;
    box-shadow:0px 6px 6px 0 rgb(0 0 0 / 30%);
    background-color: #73956F;   
}
.articleTitle{
    text-align:left;
    padding-top:1em;
    padding-left:1em;
    text-shadow: 3px 3px 3px #ccc;
}
.articleP{
   display:inline-flex;
    margin-left:1em;
}
.forecastImg{
    box-shadow:0px 6px 6px 0 rgb(0 0 0 / 30%);
    
}
.contact{
    background-color:#73956F;
    border:2px solid black;
    margin:3em;
    padding-bottom:1em;
}
.phoneP, .emailP{
    margin-left:38%;
    color:white;
}
.phone, .email{
    margin-left:35%;
    box-shadow:0px 3px 3px 0 rgb(0 0 0 / 30%);
}
.prestonMap{
    border:2px solid black;
    box-shadow:0px 2px 2px 3px rgb(0 0 0 / 30%);
}
}
