@media only screen and (min-width: 39.5rem){
     nav button{
        display:none;
    }
    nav ul li{
        float:left;
    }
    nav ul li a{
        border:none;
        padding:5px 0px 5px;

    }
    body{
        max-width: 80%;
        padding:0;
        background-color: #EBEBEB;
        padding-top:0;
    }
    .headingTxt{
        text-align:center;
        font-size: 1.3em; 
        margin:1em;
    }
    h4{
        margin: 0;
        padding:0;
    }
    .logo{
        max-width: 65px;

 } 

    
}
nav ul{
    margin:0;
    padding:0;
    font-size: 1.2em;
}
nav ul li{
    padding:.4rem .5rem;
    font-size:.8rem;
    border-right:1px solid rgba(0,0,0,0.3);   
}
main{
    background-color: white;
}
