header, footer{
    background-color: #242582;
    color:white;
    font-family:"Merriweather",Georgia, serif;
    border-radius: 5px;

}
header h1, h4{
    text-shadow: 3px 3px 3px black;
    text-align:center;
    padding:0;
    margin:0;
    padding:2%;
}
header h1{
    font-size: 1.4em;
    padding:2% 2%;
}
footer{
    text-align: center;
    margin:0 auto;
}
body{
    max-width: 90%;
    margin:0 auto;

}
h4{
    font-size:1em;
    padding:.5em;
    padding-bottom: 2em;
}
footer{
    padding:1em;
}
.logo{
    float:left;
    max-width: 55px;
    padding: 5px;
}
nav button{
    margin:.2rem 2%;
    background-color: transparent;
    border:none;
    font-size: 1.6rem;
    color:#fff;
}
nav{
 background-color: #BDD4E7;
 font-family: Verdana, sans-serif;   
}
nav ul{
    list-style-type:none;
    padding:0;
    font-size: .9em;
}
nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgb(0,0,0,0.8);
    border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul li a:hover{
    background-color: rgba(0,0,0,0.4);color:#ffff;

}
nav ul li.active{
    background-color:rgba(201, 159, 196, 1);
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  nav ul.hide{
      display:none;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bdd4e7+0,6cafe2+100&0.56+29,1+100 */
background: -moz-linear-gradient(top,  rgba(189,212,231,0.56) 0%, rgba(166,201,230,0.56) 29%, rgba(108,175,226,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(189,212,231,0.56) 0%,rgba(166,201,230,0.56) 29%,rgba(108,175,226,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(189,212,231,0.56) 0%,rgba(166,201,230,0.56) 29%,rgba(108,175,226,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fbdd4e7', endColorstr='#6cafe2',GradientType=0 ); /* IE6-9 */      
}
main{
    text-align:center;
}
.prestonHeading{
    margin:0;
    padding:1em;
    text-align: left;
}
p{
    margin:0;
    padding:1em;
    text-align: left;
}
.headingTxt{
    font-size: 1.1em;
}