@media only screen and (min-width:35rem){
    header{
        max-height:80%;
    }
        .headingTxt{
        font-size: 1.3em; 
        margin-bottom:33px;
    }
    .headingTxt h1{
        padding-top:1em;
        margin-left:auto;
        margin-right:auto;
        text-align: start;
        padding-bottom:5px;
    }
    h4{
        background: #EBEBEB;
        margin-left:44px;
    }
    .headingTxt h2{
        padding:34px;
    
    }
    .headingTxt h5{
        margin-left:15%;
        padding-bottom:20px;
    }
    .head{
        padding:0;
    }
    nav button{
        display:none;
    }
    nav ul li a{
        border:none;
        padding:.8em;
        text-align: center;
        font-size:1em;
    }
    nav ul.hide{
        display:flex;
        justify-content: center;
        margin: 2% 2% 0;
        justify-content:center;
    }
    nav ul{
        margin:50px;
        padding:0;
        font-size: 1.2em;
    }
    nav ul li{
        padding:0px;
        font-size:1rem;
    
    }    
    .logo{
        max-width:75px;
        margin-left:11%;
        padding-top:1em;
    }
    .hero{
        max-width: 70%;;
    }
    .article{
        max-width: 100%;
        padding-bottom:7%;
    }
    .artImg{
        float:right;
        max-width: 35%;
        padding:0;
        margin-right:10px;
        margin-top:18px;
        box-shadow:0px 6px 8px 0px #888;
    }
    .article p{
        padding-left:30px;

    }
    .contact{
        background-color:#73956F;
        padding-left:2em;
        max-width: 74%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:1%;
        padding-bottom: 1em;
        padding-top:12px;
        color:white;
        text-shadow: 2px 2px 2px black;
    
    }
    .prestonMap{
        max-width: 40%;
    }
    
    .email{
        background-color: #fff;
        border-radius: 5px;
        max-width: 30px;
        float:left;
        margin-left:10px;
        margin-right:auto;
    }
    .phone{
        background-color: #fff;
        border-radius: 5px;
        padding:5px;
        max-width: 20px;
        float:left;
        margin-left:10px;
    }
    .phoneP, .emailP{
        padding-bottom:1em;
        padding-top:2px;
    }
    .contact h5{
        font-weight: bolder;
        font-size: large;
        margin-top:50px;
        padding:0;
        padding-left:42%;
    }
    .contact p{
        margin-left:50%;
        font-size: 14px;
    }
    .social{
        margin-left:0;

    }
    .section{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .right:nth-child(odd) img{
        grid-column: 2/3;
        max-width: 100%;
    }
    .left:nth-child(even){
        grid-column:1/2;
        

    }
    .right:nth-child(even)img{
        grid-column:1/2;
    }
    
    
    
}