header, footer{
    background-color: #242582;
    color:white;
    padding:10px;
    text-align: center;
    font-family:"Merriweather", Georgia, serif;
    margin:auto;
    font-size: 90%;
}
h1{
    text-align: center;
    margin: 1 auto;
    color:white;
    font-family:"Merriweather", Georgia, serif;
}
h3{
    font-size:1.3em;
}
.top_btm{
    border-radius:5px;
    overflow: hidden;
}
body{
    max-width: 1080px;
    margin:0 auto;
    font-size:16px;
    padding:10px;
    background-color: #ffff;
}
.active{
    background-color:#8EC0CD;
    margin:0;

}
nav ul {
    font-family: "Merriweather", Georgia, serif;
    list-style: none;
    display:flex;
    justify-content: center;
    text-align: center;
    background-color:#BDD4E7;
    margin:0;
    padding: 0;
    
}
nav ul li{
    flex:1 1 auto;
    padding:1em;

}
nav li{
    color:black;
}
p{
    font-size: 1.1em;
    font-family: "Roboto", Arial, sans-serif;
    padding:1em;
}
a{
    text-decoration: none;
    color:black;   

}
.logo{
    max-width:20%;
    padding:1em;
    margin-left: 1em;
    border:2px solid black
}
.colors ul{ 
    list-style: none;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow:column; 
}
.colors li{
    padding: 1em 1em 1em 1em;
    text-align: center;
 
}
.colors h3{
    text-align: center;
    font-size: 1.3em;
}
.heading{
    background-color: #242582;
    color:white;
}
.nav{
    background-color: #BDD4E7;

}
.accent{
    background-color:#AA6DA3;
}
.forth{
    background-color:#ED6A5A;
}
.background{
    background-color: #ffffff;
    color:#000;
}
.merri{
    font-family: "Merriweather";
}
.roboto{
    font-family: "Roboto";
}