/*------- Header & Footer-------*/
h1{
    font-family: 'Playfair display';
    margin-left:8%;
    margin-bottom: 0;
    margin-top:0;

}
h1,h2,h3,h4,h5{
    font-family:'Playfair display';
    font-size: 1em;
}
p{
    font-family:'Montserrat';
    font-size: .8em;
}
header p{
    margin-left:17%;
    margin-top:0;

}
header h1{
    text-shadow:1px 0px 1px #8B786D;
    margin-left:17%;
}

#navBar ul li{
    list-style: none;
}  
nav ul.hide{
    display:none;
}
#active{
    background-color: #283044;
}
.hide{
    display:block;
}
nav{
    list-style: none;
    border-top:1px solid #283044;
    border-bottom:1px solid #283044;
    background: hsla(18, 20%, 68%, 1);
    background: linear-gradient(180deg, hsla(18, 20%, 68%, 0.5) 0%, hsla(22, 12%, 49%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(18, 20%, 68%, 0.5) 0%, hsla(22, 12%, 49%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(18, 20%, 68%, 0.5) 0%, hsla(22, 12%, 49%, 1) 100%); 
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#BFA89E", endColorstr="#8B786D", GradientType=1 );
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-family: 'Montserrat';
}
.logo{
    float:left;
    margin-left:2%;
    border-radius:10px;
    border:1px solid black;
    max-width: 40px;
}
header{
    background:linear-gradient(180deg,#EBF5EE, #78A1BB);
    padding-bottom: .7em;
    padding-top: 1em;  
}
body{
    background-color: #EBF5EE;
    min-width: 360px;
    margin:0 auto;
}
footer{
    background:radial-gradient(#EBF5EE 5%, #78A1BB);
    padding:20px;
    border-top:1px solid black;
    font-family: 'montserrat';
    text-align: center;
    margin-top:20px;

}
.twitter, .facebook{
    border-radius: 50px;
    width: 25px;
    border:1px solid #000;
    margin-bottom:-10px;
    padding:2px;
    margin-right:5px;

}
nav button{
    margin-left:2%;
    border:none;
    font-size: 1.2em;
    color:#fff;
    background-color: #283044;
}
fieldset button{
    background-color: #282828;
    color:white;
    margin-left:35%;
    margin-top:10px;
    border:1px solid white;
    font-family: 'montserrat';
}
h2, h3{
    font-size: .9em;

}
h2{
    text-align: center;
    text-shadow: 2px 2px 2px #ccc;
    border-bottom:2px solid #ccc;
    border-top:2px solid #ccc;
    padding:5px 5px;
    background:radial-gradient(white 40%,#283044);
    border-radius:50px;
}
h3{
    text-shadow: 2px 2px 2px #ccc;
}
fieldset{
    background-color: white;
    max-width: 80%;
    margin:0 auto;
    font-size: .9em;
    border-radius: 4px;
    box-shadow:0 5px 8px 0 rgba(0 0 0 /20%);
}
fieldset legend{
    text-align: center;
    border:1px solid black;
    border-radius: 5px;
    color:#283044;
    background-color: white;
    padding:2px 5px 2px;
    font-size: .9em;
    font-weight: 600;
    font-family: "playfair display";
}
fieldset label{
    justify-content: start;
    font-family: 'montserrat';
}
.top{
    display: block;
    padding:5px 50px 5px;
    font-size: .9em;
}
.mid{
    display: block;
    padding:5px 50px 5px;
 
}
textarea{
    background-color:rgb(223, 223, 223);
}
.top input{
    background-color:rgb(223, 223, 223);
}
.phone, .email, .social{
    border:1px solid black;
    padding:5px 15px 5px;
    background-color: white;
    margin:5px 5px;
    text-align: center;
    border-radius: 4px;
    box-shadow:0 5px 8px 0 rgba(0 0 0 /20%);
    margin-bottom: 20px
}
.social{
    padding-bottom:20px;
}
.board{
    list-style: none;
    margin:0 auto;
    max-width: 80%;
}
.board_h1{
    text-align: center;
    text-shadow: 2px 3px 4px #888;
    font-size: 1.1em;
    border:2px solid #283044;
    background-color:white;
    margin-bottom:5px; 
    border-radius: 5px;
    font-family: "playfair display";
}

a:hover{
        background-color:white;
        color:black;
}
.board img,.board img,.board img{
    max-width:50%;
    margin:0 auto;
    display: block;
    padding-top:10px;
}
.board h3{
    text-align: center;
    font-size: 1.1em;
    text-shadow: 1px 1px 5px #777;
}
.board ul li{
    font-family: 'Montserrat';
    font-size: .9em;
}

.board ul li{
    margin-left:15%;

}
.map h3{
    margin:0 auto;
    text-align: center;
}
.map{
    text-align: center;
    font-size: 1.5em;

}
.chairman, .chief, .managing{
    box-shadow: 2px 5px 10px #283044;
    border:2px solid #283044;
    margin-bottom: 2em;
    background:linear-gradient(#EBF5EE 30%, #78A1BB);
}
.managing img{
    max-width: 70%;
}