@media only screen and (min-width: 60rem) {
main{
    max-width: 100%;
}
    .headingTxt{
        font-size: x-large;
        margin:0;
    }
    .headingTxt h5{
        padding-bottom: 2%;
    }
    nav ul li a:hover{
        padding:12px;
    
    }
    nav ul li{
        font-size:1rem;
        flex: 1 1 auto;
        display:block;
        
    }
    h4{
        margin-left: 10%;
        font-size: 1.5em;
    
    }
    .image_group{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 465px);
        justify-content: center;
        max-width: 1230px;
        margin:0 auto;
        grid-gap:30px;
        padding-top:1em;

    }
    .imgInfo{
        padding-right:0;
        font-size: 16px;
    }
    img:hover{
        opacity:.5;
        
    }
    .imgPic{
        border:none; 
        max-width: 400px;
        background: #73956F;
        
   
}
p, a{
    font-size: 16px;

}
}