@media only screen and (min-width: 60rem) {
main{
    max-width: 100%;
}
    .headingTxt{
        font-size: x-large;

    }
    nav ul li a:hover{
        padding:12px;
    
    }
    nav ul li{
        font-size:1rem;
        flex: 1 1 auto;
        display:block;
        
    }
    h2{
        margin-left: 10%;
        
    }
    .image_group{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 465px);
        justify-content: center;
        max-width: 1230px;
        margin:0 auto;
        grid-gap:30px;
        padding-top:1em;
    }
    img:hover{
        opacity:0.5;
    }
    picture{
        padding-bottom:30px;
        border:none; 
        box-shadow: 0px 1px 4px 1px rgb(0 0 0 / 30%);
}
p, a{
    font-size: 16px;

}
}