@media only screen and(min-width: 66em) {
    .columns{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;
    padding:1em 1em 0em 1em;
    }
    .white{
        grid-column:1/2 ;
    }
    .contrast{
        grid-template-columns: 2/3;
}