@media only screen and (min-width: 32.5rem){
    .columns{
        grid-template-columns: 1fr 1fr;
    }    
    .white {
        grid-column: 1/ span 1;
    }

    .contrast {
        grid-column: 2/ span 1;

    }
}