@media only screen and (min-width: 70rem) {
body{
    max-width:1920px;

}
nav ul li a:hover{
    padding:12px;

}
nav ul li{
    font-size:1rem;
    flex: 1 1 auto;
    display:block;
    padding: 0px;
}
main{
    padding:10px 10px;
}
.hero{
    max-width: 80%;
    margin-left:auto;
    margin-right:auto;
}
.prestonHeading{
    margin-left:9%;
}
.forecast{
    max-width: 78%;
    margin-left:auto;
    margin-right:auto;
}
.article{
    max-width: 80%;
    margin-left:auto;
    margin-right:auto;
}
.contact{
    padding-bottom: 90px;
}
.contact h5{
    font-weight: bolder;
    font-size: larger;
    margin-top:50px;
    padding:0;
}
.contactElements{
    margin-left:60%;
}
.prestonMap{
    float:left;
    margin-left:9rem;    
    max-width: 460px;
}
.facebookIco, .twitterIco, .instaIco{
    max-width: 30px;
    border:1px solid white;
    background-color:#EBEBEB;
    border-radius: 50px;
    padding:1px;
    box-shadow:0px 6px 6px 0 rgb(0 0 0 / 40%);
}
.contact a:hover{
    border-bottom:3px solid  #C99FC4;
    box-shadow:0px 2px 0px rgb(0 0 0 / 30%);
    
}
}